.content{
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}
.center{
	text-align: center;
	align-content: center;
	margin-right: auto;
	margin-left: auto;
}
.left{
    text-align: left
}
.xxx{
    padding-bottom: 15px;
}
.signature {
    margin-top: 40px;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #000;
}
.container{
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}