#content{
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}
.center{
	text-align: center
}
.left{
    text-align: left
}
.xxx{
    padding-bottom: 15px;
}